.head1-form1 {
  color: #486aae;
  font-family: Ubuntu, sans-serif;
  font-size: 25px;
  margin-left: 10px;
}
.cont1-form1 {
  padding: 20px;
}
.label1 {
  color: #333333;
  font-size: 20px;
  margin: 10px;
}
.input1 {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #595959;
  font-size: 17px;
  margin-right: 40px;
}
.input2 {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #595959;
  font-size: 17px;
}
.cont2-form1 {
  display: flex;
  flex-direction: row;

  margin-top: 50px;
}
.cont2-inner {
  margin-right: 150px;
}
.dropdown-form1 {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  color: #595959;
  font-size: 17px;
  width: 245px;
}
.cont-shift {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.label2 {
  color: #333333;
  font-size: 20px;
  margin: 10px;
  margin-left: 75px;
}
.cont3-inner {
  margin-right: 190px;
}
.cont-display {
  border-radius: 10px;

  border: 2px solid #486aae;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu, sans-serif;
  color: #595959;
  font-size: 17px;
  width: 250px;
  height: 70px;
  background-color: white;
}
.head-ran {
}
.btn {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  color: white;
  font-size: 17px;
  background-color: #486aae;
  font-family: ;
}
button:hover {
  background-color: #ffffff;
  color: white;
  color: #595959;
}
.line {
  border-top: 1px solid #e6e6e6;
  margin-top: 30px;
}
.batchcont2-form1 {
  display: flex;
  flex-direction: row;
}
.batchcont2-inner {
  display: flex;
  flex-direction: row;
}
.batchcont2-inner2 {
  display: flex;
  flex-direction: row;
  margin-left: 150px;
}
.batchcont2-inner3 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.batchcont3-inner3 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 30px;
  margin-top: 30px;
}
.batch-button {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  color: white;
  font-size: 17px;
  background-color: #486aae;
  font-family: ;
  width: 100px;
}
.batchbtn-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
