.inpu1-Back {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #595959;
  font-size: 17px;
}

.inpu2-Back {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #595959;
  font-size: 17px;
}
.batchcont2-inner-Back-1 {
  margin-left: 350px;
}
.label1-Back-1 {
  margin-left: 30px;
}
