.login-image {
  width: 400px;
  height: 400px;
  margin-bottom: 70px;
}
.login-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
}
.form-container {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;

  border-radius: 8px;
  width: 100%;
  max-width: 350px;
}
.login-website-logo-desktop-image {
  margin: 15px;
}
.username-input-filed {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;

  color: #64748b;
  border-radius: 10px;
  margin-top: 5px;
  border: 2px solid #486aae;
  padding: 8px 16px 8px 16px;
}
.password-input-filed {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;

  color: #64748b;
  border-radius: 10px;
  margin-top: 5px;
  border: 2px solid #486aae;
  padding: 8px 16px 8px 16px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.btn2-login {
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #486aae;
  border-radius: 8px;
  border: none;
  border: 2px solid #486aae;
}
.btn2-login :active {
  box-shadow: 0px 3px 0px #486aae, 0px 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}
.button:hover {
  background-color: #ffffff;
  color: white;
  color: #595959;
}
.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: Ubuntu, sans-serif;
  font-size: 15px;
  line-height: 16px;
  color: #ff0b37;
  margin-top: 5px;
}
.input-label {
  margin-bottom: 0px;
  font-family: Ubuntu, sans-serif;

  font-size: 17px;
  line-height: 16px;
  color: #475569;
  margin-bottom: 10px;
  margin-bottom: 0px;
}
