.head1-form1-we {
  color: #486aae;
  font-family: Ubuntu, sans-serif;
  font-size: 25px;
  margin-left: 10px;
}
.cont1-form1-we {
  padding: 20px;
}
.label1-we {
  color: #333333;
  font-size: 20px;
  margin: 10px;
}
.input1-we {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #595959;
  font-size: 17px;
  margin-right: 40px;
}
.input2-we {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #595959;
  font-size: 17px;
}
.cont2-form1-we {
  display: flex;
  flex-direction: row;

  margin-top: 50px;
}
.cont2-inner-we {
  margin-right: 150px;
  margin-left: 60px;
}
.dropdown-form1-we {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  color: #595959;
  font-size: 17px;
  width: 245px;
}
.cont-shift-we {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.label2-we {
  color: #333333;
  font-size: 20px;
  margin: 10px;
  margin-left: 75px;
}
.cont3-inner-we {
  margin-right: 190px;
}
.cont-display-we {
  border-radius: 10px;

  border: 2px solid #486aae;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu, sans-serif;
  color: #595959;
  font-size: 17px;
  width: 250px;
  height: 70px;
  background-color: white;
}

.vl1-inox {
  border-left: 6px solid;
  border-image: linear-gradient(#486aae, #b30086) 30;
  height: 400px;
  position: absolute;
  left: 45%;
  margin-left: -3px;
  margin-top: 690px;
  top: 0;
}
.vl2-inox {
  border-left: 6px solid;
  border-image: linear-gradient(#486aae, #b30086) 30;
  height: 400px;
  position: absolute;
  left: 45%;
  margin-left: -3px;
  margin-top: 1200px;
  top: 0;
}
.vl1-inox1 {
  border-left: 6px solid;
  border-image: linear-gradient(#486aae, #b30086) 30;
  height: 400px;
  position: absolute;
  left: 45%;
  margin-left: -3px;
  margin-top: 1970px;
  top: 0;
}
.vl2-inox1 {
  border-left: 6px solid;
  border-image: linear-gradient(#486aae, #b30086) 30;
  height: 400px;
  position: absolute;
  left: 45%;
  margin-left: -3px;
  margin-top: 2480px;
  top: 0;
}

.btn-we {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  color: white;
  font-size: 17px;
  background-color: #486aae;
  font-family: ;
}

button:hover {
  background-color: #ffffff;
  color: white;
  color: #595959;
}
.line-we {
  border-top: 1px solid #e6e6e6;
  margin-top: 30px;
}
.batchcont2-form1-we {
  display: flex;
  flex-direction: row;
}
.batchcont2-inner-we {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}
.batchcont2-inner2-we {
  display: flex;
  flex-direction: row;
  margin-left: 210px;
}
.batchcont2-inner3-we {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.batchcont3-inner3-we {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 30px;
  margin-top: 30px;
}
.batch-button-we {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  color: white;
  font-size: 17px;
  background-color: #486aae;
  font-family: ;
  width: 100px;
}
.batchbtn-cont-we {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.head1-form2-we {
  color: #486aae;
  font-family: Ubuntu, sans-serif;
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
}
.after-etch-cont-we {
  margin-left: 60px;
}
