.head1-form1-annealing {
  color: #486aae;
  font-family: Ubuntu, sans-serif;
  font-size: 25px;
  margin-left: 10px;
}
.cont1-form1-annealing {
  padding: 20px;
}
.label1-annealing {
  color: #333333;
  font-size: 20px;
  margin: 10px;
}
.input1-annealing {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #595959;
  font-size: 17px;
  margin-right: 40px;
}
.input2-annealing {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #595959;
  font-size: 17px;
}
.cont2-form1-annealing {
  display: flex;
  flex-direction: row;

  margin-top: 50px;
}
.cont2-inner-annealing {
  margin-right: 150px;
}
.dropdown-form1-annealing {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  color: #595959;
  font-size: 17px;
  width: 245px;
}
.cont-tex {
  margin-left: 20px;
}
.cont-shift-annealing {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.label2-annealing {
  color: #333333;
  font-size: 20px;
  margin: 10px;
  margin-left: 75px;
}
.cont3-inner-annealing {
  margin-right: 190px;
}
.cont-display-annealing {
  border-radius: 10px;

  border: 2px solid #486aae;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu, sans-serif;
  color: #595959;
  font-size: 17px;
  width: 250px;
  height: 70px;
  background-color: white;
}
.head-ran {
}
.btn-annealing {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  color: white;
  font-size: 17px;
  background-color: #486aae;
  font-family: ;
}
button:hover {
  background-color: #ffffff;
  color: white;
  color: #595959;
}
.line-annealing {
  border-top: 1px solid #e6e6e6;
  margin-top: 30px;
}
.batchcont2-form1-annealing {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.batchcont2-inner-annealing {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
}
.batchcont2-inner2-annealing {
  display: flex;
  flex-direction: row;
  margin-left: 160px;
}
.batchcont2-inner3-annealing {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.batchcont3-inner3-annealing {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  margin-left: 50px;
  margin-top: 30px;
}
.batch-button-annealing {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #486aae;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  color: white;
  font-size: 17px;
  background-color: #486aae;
  font-family: ;
  width: 100px;
}
.batchbtn-cont-annealing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.two-row-cont {
  margin-left: 25px;
}
