.main-page-cont {
  margin: 20px;
}
.card1 {
  background-color: aqua;
  padding: 10px;
  width: 285px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 10px;
}
.para1-main-page {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.btn-main-page {
  border: none;
  border-radius: 15px;
}
.card2 {
  background-color: #04a693;
  padding: 10px;
  width: 285px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 10px;
}
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9 {
  background-color: #ffa500;
  padding: 10px;
  width: 285px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 10px;
}
.cont-first3-main-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 25px;
}
.card4 {
  background-color: #688a08;
}
.card6 {
  background-color: #00b0eb;
}
.card5 {
  background-color: coral;
}
.card7 {
  background-color: lightsalmon;
}
.card8 {
  background-color: royalblue;
}
.card9 {
  background-color: teal;
}
